USE [TransfermarktDW]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[dateKey] [int] NOT NULL,
	[Date] [varchar](128) NULL,
	[YearMonthNum] [varchar](128) NULL,
	[Calendar_Quarter] [varchar](128) NULL,
	[MonthNum] [varchar](128) NULL,
	[MonthName] [varchar](128) NULL,
	[MonthShortName] [varchar](128) NULL,
	[WeekNum] [varchar](128) NULL,
	[DayNumOfYear] [varchar](128) NULL,
	[DayNumOfMonth] [varchar](128) NULL,
	[DayNumOfWeek] [varchar](128) NULL,
	[DayName] [varchar](128) NULL,
	[DayShortName] [varchar](128) NULL,
	[Quarter] [varchar](128) NULL,
	[YearQuarterNum] [varchar](128) NULL,
	[DayNumOfQuarter] [varchar](128) NULL,
 CONSTRAINT [PK_dim_date] PRIMARY KEY CLUSTERED 
(
	[dateKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_jogadoresAvaliacao]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_jogadoresAvaliacao](
	[jogadorKey] [int] IDENTITY(1,1) NOT NULL,
	[jogadorCode] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Epoca] [int] NOT NULL,
	[DataNasc] [datetime] NULL,
	[MaiorValor] [int] NULL,
	[ValorAtual] [int] NULL,
	[DataContrato] [datetime] NULL,
	[Valor] [int] NOT NULL,
	[DataAvaliacao] [datetime] NULL,
 CONSTRAINT [PK_dim_jogadoresAvaliacao] PRIMARY KEY CLUSTERED 
(
	[jogadorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_jogadoresPaises]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_jogadoresPaises](
	[jogadorKey] [int] IDENTITY(1,1) NOT NULL,
	[jogadorCode] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Epoca] [int] NOT NULL,
	[DataNasc] [datetime] NULL,
	[MaiorValor] [int] NULL,
	[ValorAtual] [int] NULL,
	[DataContrato] [datetime] NULL,
	[DescrPaises] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_jogadoresPosicao]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_jogadoresPosicao](
	[jogadorKey] [int] IDENTITY(1,1) NOT NULL,
	[jogadorCode] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Epoca] [int] NOT NULL,
	[DataNasc] [datetime] NULL,
	[MaiorValor] [int] NULL,
	[ValorAtual] [int] NULL,
	[DataContrato] [datetime] NULL,
	[DescrPosicao] [varchar](50) NOT NULL,
	[keyStartDate] [datetime] NULL,
	[keyEndDate] [datetime] NULL,
	[lastUpdateTime] [datetime] NULL,
 CONSTRAINT [PK_dim_jogadoresPosicao] PRIMARY KEY CLUSTERED 
(
	[jogadorKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_JogoArbTrei]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_JogoArbTrei](
	[jogoKey] [int] IDENTITY(1,1) NOT NULL,
	[jogoCode] [int] NOT NULL,
	[Epoca] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[NomeTreinadorCasa] [varchar](50) NULL,
	[NomeTreinadorFora] [varchar](50) NULL,
	[Assistencia] [int] NOT NULL,
	[ArbitroNome] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fact_fichasJogo]    Script Date: 16/04/2024 20:55:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_fichasJogo](
	[JogoID] [int] NOT NULL,
	[JogadorID] [int] NOT NULL,
	[jogadorPosKey] [int] NOT NULL,
	[jogadorPaisKey] [int] NOT NULL,
	[jogadorAvalKey] [int] NOT NULL,
	[dateKey] [int] NOT NULL,
	[jogoArbTreiKey] [int] NOT NULL,
	[Amarelos] [int] NOT NULL,
	[Vermelho] [bit] NOT NULL,
	[Golos] [int] NOT NULL,
	[Assistencias] [int] NOT NULL,
	[Minutos] [int] NOT NULL
) ON [PRIMARY]
GO
