USE [TransfermarktDSA]
GO
/****** Object:  Table [dbo].[Arbitros]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arbitros](
	[ID] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FichasJogo]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FichasJogo](
	[JogoID] [int] NOT NULL,
	[JogadorID] [int] NOT NULL,
	[Amarelos] [int] NOT NULL,
	[Vermelho] [bit] NOT NULL,
	[Golos] [int] NOT NULL,
	[Assistencias] [int] NOT NULL,
	[Minutos] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogadores]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogadores](
	[ID] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL,
	[Epoca] [int] NOT NULL,
	[PaisID] [int] NULL,
	[DataNasc] [datetime] NULL,
	[MaiorValor] [int] NULL,
	[ValorAtual] [int] NULL,
	[DataContrato] [datetime] NULL,
	[PosicaoJogadorID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JogadoresAvaliacao]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JogadoresAvaliacao](
	[JogadorID] [int] NOT NULL,
	[DataAvaliacao] [datetime] NOT NULL,
	[Valor] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jogos]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jogos](
	[ID] [int] NOT NULL,
	[Epoca] [int] NOT NULL,
	[Data] [datetime] NOT NULL,
	[TreinadorCasaID] [int] NULL,
	[TreinadorForaID] [int] NULL,
	[Assistencia] [int] NOT NULL,
	[ArbitroID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Paises]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Paises](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descr] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PosicoesJogador]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PosicoesJogador](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Descr] [varchar](30) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Treinadores]    Script Date: 16/04/2024 20:53:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Treinadores](
	[ID] [int] NOT NULL,
	[Nome] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
